@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700&display=swap");
body {
    font-family: 'Zen Maru Gothic',sans-serif;
    font-style: sans-serif;
}

@media (min-width: 769px){
    .for-sp {
        display: none;
    }
}

.header {
    background-image: url("images/spbg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 699px;
    position: relative;

    @media (min-width: 769px) {
        background-image: url("images/bg.png");
        height: 682px;
    }
}

.bg-top {
    background-image: url("images/spbg-top.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 79px;

    @media (min-width: 769px){
        background-image: url("images/bg-top.png");
        height: 77px;
    }
}

.header-logo {
    width: 290px;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.header-img {
    width: 100%;
    padding-top: 20px;
}

.introduction {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 10px;
    font-weight: bold;
    color: #FF9A00;
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.section1{
    background-color: #FF7B6D;
}

.h1 {
    width: 300px;
    margin: 0 auto;
}

.carousel {
    overflow-x: scroll;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.item {
    width: 300px;
    margin: 0 auto;
    position: relative;
    display: inline-block;

    @media (min-width: 769px){
        width: 500px;
    }
}

.item + .item {
    margin-left: 30px;
}

.page-bg {
    width: 300px;
    margin: 0 auto;

    @media (min-width: 769px){
        width: 500px;
    }
}

.page-illust {
    width: 180px;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    inset: 0;
    margin-top: 15px;

    @media (min-width: 769px){
        width: 300px;
        margin-top: 20px;
    }
}

.page-text1 {
    text-align: center;
    font-size: 12px;
    color: #FF7B6D;
    margin: 0 auto;
    position: absolute;
    inset: 0;
    margin-top: 205px;

    @media (min-width: 769px){
        font-size: 18px;
        margin-top: 340px;
    }
}

.section-text {
    text-align: center;
    font-size: 14px;
    color: #FFFF;
    padding-top: 10px;
    padding-bottom: 50px;
    line-height: 25px;

    @media (min-width: 769px){
        font-size: 18px;
    }
}

.while {
    width: 100%;
    height: 130px;

    @media (min-width: 769px){
        height: 148px;
    }
}

.while img {
    width: 100%;
    height: 100%;
}

.section2{
    background-color: #00B4EA;
}

.page-text2 {
    text-align: center;
    font-size: 12px;
    color: #00B4EA;
    margin: 0 auto;
    position: absolute;
    inset: 0;
    margin-top: 205px;

    @media (min-width: 769px){
        font-size: 18px;
        margin-top: 340px;
    }
}

.section3{
    background-color: #65D553;
}

.page-text3 {
    text-align: center;
    font-size: 12px;
    color: #65D553;
    margin: 0 auto;
    position: absolute;
    inset: 0;
    margin-top: 205px;

    @media (min-width: 769px){
        font-size: 18px;
        margin-top: 340px;
    }
}

.footer {
    background-image: url("images/spbg2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;

    @media (min-width: 769px){
        background-image: url("images/bg2.png");
    }
}

.self-introduction {
    background-color: #FF9A00;
    border-radius: 5px;
    position: relative;
    top: 230px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 400px;
    
    @media (min-width: 769px){
        width: 700px;
        height: auto;
    }
}

.self-introduction::before {
    content: '';
    background-image: url("images/tape_2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -65px;

    @media (min-width: 769px){
        width: 130px;
        height: 140px;
        top: -75px;
    }
}

.footer-section {
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 50px;

    @media (min-width: 769px){
        padding: 120px 20px 120px 67px;
        display: flex;   
    }
}

.self-portrait {
    width: 150px;
    height: 150px;
    border-radius: 5px;

    @media (min-width: 769px){
        padding-top: 0;
        width: 200px;
        height: 200px;
        margin: 5px !important;
    }
}


.name {
    text-align: center;
    font-size: 28px;
    color: #FFFF;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 5px;

    @media (min-width: 769px){
        font-size: 36px;
        padding-left: 30px;
    }
}

.detail {
    text-align: center;
    font-size: 14px;
    color: #FFFF;
    line-height: 25px;

    @media (min-width: 769px){
        font-size: 20px;
        line-height: 30px;
        padding-left: 30px;
        line-height: 35px;
    }
}

.copyright {
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #FF9A00;
    position: absolute;
    bottom: 5px; 
    left: 0;
    right: 0;
    margin: 0 auto;
}
